extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Hey, I'm Jacob! Web development and web design are my passion. I love creating websites and web apps using the latest tools and frameworks to find new and creative ways to innovate on the web. If you like any of my work, I'd be happy to help you take your projects from idea to reality.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data
        .cell   
          a(href=`/project/${project.id}`)      
            img.thumbnail(src=`${project.image_urls[0]}` alt='Project Thumbnail')
            h5 #{project.project_name}
      