extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hey, I'm Jacob!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p These projects are meant to demonstrate an array of skills I have aquired and will utilize to take your projects from idea to reality. I'm passionate about learning and applying new skills to experiment and push the envelope. If you like what you see, lets create something exciting together!


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data
        .cell   
          a(href=`/project/${project.id}`)      
            img.thumbnail(src=`${project.image_urls[0]}` alt='Project Thumbnail')
            h5 #{project.project_name}
      