<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Page Not Found
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css') 

    body.notFound
        h1 Oh, I didn't hear you come in, it seems you might be lost
        h1 #{error.status}
        h1 #{error.message}
        pre #{error.stack}